.container {
    padding: 50px 100px;
    margin-top: 50px;
    background: #F6F6F6;
    .slide {
        min-height: 461px;
        img {
            object-fit: contain;
            width:  436.74px;
            height: 421px;
        }
    }
    .SlideContainer {
        margin: 0 auto;
    }
}

 