@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'PT Sans Narrow', sans-serif;
    
}
p,a {
    color: #42525B;
}

.container{
    width: 1250px;
    margin: 0 auto;
}
.react-player {
    width: 1200px !important;
    height: 487px !important;
    overflow: hidden;
    box-shadow: 0px 0px 37.36000061035156px 0px #0000000D;
    border-radius: 0px 50px;
    .react-player__preview {
      background-image: url('../public/img/video.png') !important;
      border-radius: 0px 50px;}
    }
@media screen and (max-width: 1250px){
    .container{
        width: 80vw;
    }
}
.dots-pag {
    margin-top: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    background: white;
   
  
  }
  .slick-dots {
    position: initial !important;
    bottom: auto !important;
    display: flex !important;
    gap: 50px !important;
    color: white;
    justify-content: center;
    font-size: 32px;
    background: transparent;
    font-weight: 400;
  
  }
  .slick-dots {
    .slick-active {
      .activate {
        
        width: 30px;
        height: 30px;
       background: #FF4D01;
    
        
      }
  
    }
  }
  
  .slick-next {
    display: none !important;
  }
  .slick-list {
    padding-bottom: 10px  ;
  }
  .slick-track {
    padding-top: 10px;
  }